@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url(../images/space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

:root {
    --text: "Weight on another planet";
    --button: "Calculate Weight";
    --resultContent: "";
    --resultColor: "";
}

.formContainer {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer h1 {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: #FFF;
}

.formContainer h1::before {
    content: var(--text);
    position: absolute;
    filter: blur(10px);
}

.formContainer form {
    position: relative;
    width: 90%;
    left: 5%;
}

.formContainer form  input {
    display: block;
    width: 48%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .8);
}

.formContainer form input::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.formContainer form select {
    display: block;
    position: relative;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, .4);
    color: #444;
    background: rgba(255, 255, 255, .8);
}

.formContainer form select option {
    color: #444;
}

.formContainer form button {
    display:block;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    background: rgba(255, 255, 255, .2);
    transition: all .5s ease-in-out;
}

.formContainer form button:hover {
    background: rgba(255, 255, 255, .3);
}

.formContainer form button::before {
    content: var(--button);
    position: absolute;
    filter: blur(5px);
}

.formContainer .result {
    position: relative;
    width: 100%;
    padding: 10px;
}

.formContainer h2 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: var(--resultColor);
}

.formContainer h2::before {
    content: var(--resultContent);
    position: absolute;
    filter: blur(10px);
}

@media screen and (max-width: 980px){
    .formContainer h1 {
        font-size: 40px;
    }

    .formContainer form input {
        width: 68%;
    }

    .formContainer form select {
        width: 70%;
    }

    .formContainer h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .formContainer h1 {
        font-size: 20px;
    }

    .formContainer form input {
        width: 62%;
    }

    .formContainer h2 {
        font-size: 17px;
    }
}